h1 {
	font-size: 50px;
	font-weight: 300;
	padding: 20px 0;
	letter-spacing: 2px;
}

h2 {
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 2px;
}

h3 {
	font-size: 26px;
	font-weight: 300;
	padding: 5px 0;
	letter-spacing: 2px;
}

h4 {
	font-size: 20px;
	font-weight: 300;
	padding: 5px 0;
	letter-spacing: 2px;
}

a {
	text-decoration: none;
	color: #252525;
}

input, select {
	height: 40px;
}

input, textarea, select {
	border-width: 0;
	background-color: #ebebeb;
	padding: 7px;
}

.header {
	width: 100%;
	margin: 15px 0;
}

.logo {
	height: 75px;
}

.consultation-button,
.download-application-button {
	padding: 15px;
	background: #fff790;
}

.menu {
	width: 100%;
	height:  55px;
	background-color: #ade0ff;
	text-align: center;
}

.menu-items {
  margin: 0 auto;
}

.menu-item {
	padding: 15px;
}

.banner {
	background-size: cover;
	background-position: center;
}

.banner-content {
	background-color: rgba(0,0,0,.45);
	padding-bottom: 10px;
	text-align: center;
	color: #ffffff;
}

.about-banner {
	background-image: url("../img/about-banner.jpg");
}

.about-banner-content {
	padding-top: 270px;
	height:  500px;
}

.contact-banner {
	background-image: url("../img/contact-banner.jpg");
}

.home-banner {
	background-image: url("../img/home-banner.jpg");
}

.employers-banner {
	background-image: url("../img/employers-banner.jpg");
}

.employees-banner {
	background-image: url("../img/employees-banner.png");
}

.virtual-consultation-banner {
	width:100%;
	height: 250px;
	background-color: #ade0ff;
	padding: 30px;
}

.virtual-consultation-banner table {
	margin: 0 auto;
}

.virtual-consultation-banner td {
	vertical-align: top;
}

.virtual-consultation-icon {
	width: 162px;
	height: 162px;
	border: solid 2px #000;
	padding: 40px;
}

.virtual-consultation-banner-blurb {
	width: 550px;
	padding-left: 30px;
}

.virtual-consultation-banner-blurb h4 {
	padding-bottom: 0;
	margin-bottom: 0;
}

.virtual-consultation-banner-button {
	margin-top: 30px;
}

.home-panels {
	padding-top: 20px;
	text-align: center;
}

.home-banner-content,
.employers-banner-content,
.employees-banner-content {
	padding-top: 270px;
	height: 500px;
}

.home-panels table {
	margin: 0 auto;
}

.home-blurb {
	width: 300px;
	margin: 0 100px;
}

.employees {
	margin-top: 20px;
}

.employees td {
	vertical-align: top;
}

.employer-request-form input,
.employee-request-form input {
	width: 300px;
}

.employer-request-form td,
.employee-request-form td {
	padding: 5px;
}

.employees-info-box {
	margin-left: 60px;
	text-align: center;
	width: 300px;
	vertical-align: top;
	padding: 30px 30px 40px 30px; 
	border-style: solid;
	border-width: 4px;
	border-top-color: #ade0ff;
	border-bottom-color: #ade0ff;
	border-left-color: #fff790;
	border-right-color: #fff790;
}

.contact-banner-content {
	padding-top: 70px;
	height:  250px;
}

.content {
	width:  1050px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.jobs-form {
	text-align: center;
}

.consultation-request-form input,
.consultation-request-form select {
	width: 470px;
}

.consultation-request-form textarea {
	width: 960px;
}
.contact-us-form {
	vertical-align: top;
	padding-right: 40px;
}

.contact-us-form td {
	padding: 3px;
}

.captcha-image {
	width: 150px;
	cursor: pointer;
}

.contact-us-info-box {
	vertical-align: top;
	background-color: #ebebeb;
	padding: 20px;
}

.about-us td {
  vertical-align: top;
}

.about-us-blurb {
	padding:  10px 30px;
}

.about-us-team {
	padding-bottom: 20px;
}

.footer {
	height:  200px;
}

.footer-info {
	background-color: #ade0ff;
	width: 100%;
}

.footer-info-title {
	padding: 10px;
	font-weight: bolder;
}

.footer-info-item {
	text-align: center;
	vertical-align: top;
	padding: 20px;
}

.footer-info-item :last-child {
	margin-bottom: 0;
}

.footer-info-item table {
	margin: 0 auto;
}

.footer-legal {
	font-size: 8pt;
	color: #747474;
	padding: 20px;
	text-align: center;
}

.footer-legal a {
	color: #747474;
}
